<footer>
    <div class="footer-container">
        <div class="footer-section footer-links">
            <h4><i class="fas fa-link"></i>Quick Links</h4>
            <a href="/create"><i class="fas fa-pen-nib"></i>Create Note</a>
            <a href="/features"><i class="fas fa-star"></i>Features</a>
            <a href="/create#faq"><i class="fas fa-question-circle"></i>FAQ</a>
            <a href="/create#contact-us"><i class="fas fa-envelope"></i>Contact Us</a>
        </div>
        <div class="footer-section footer-social">
            <h4><i class="fas fa-code"></i>Developer Info</h4>
            <div class="social-icons">
                <a href="https://github.com/PriyaPandey19" target="_blank"aria-label="GitHub Profile">
                  <i class="fab fa-github"></i>
                  <span>GitHub</span>  
                </a>
                <a href="https://www.linkedin.com/in/priya-pandey19" target="_blank"aria-label="LinkedIn Profile">
                 <i class="fab fa-linkedin"></i>
                  <span>LinkedIn</span>  
                </a>    
            </div>
        </div>
        <div class="footer-section  footer-legal">
            <h4><i class="fas fa-gavel"></i>Legal</h4>
            <a href="/about#terms-ofservices"><i class="fas fa-balance-scale"></i>Terms Of Services</a>
           <a href="/about#disclaimer"><i class="fas fa-exclamation-triangle"></i>Disclaimer</a>
        </div>
        <div class="footer-section footer-info">
            <h4><i class="fas fa-shield-alt"></i>NoteCrypt</h4>
            <p>Educational Prototype for secure, Ephemeral Notes.</p>
            <p>&copy;2025 NoteCrypt.All rights reserved. </p>
        </div>
    </div>
</footer>